@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@import "../assets/styles/app.css";

html {
   zoom: 0.8;
   overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Thêm fonts mới */
  --font-audiowide: 'Audiowide', ui-sans-serif, system-ui;
  --font-saira: 'Saira', ui-sans-serif, system-ui;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030014;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-saira), Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}
